/* VARIABLES */

:root{
    --item-background-color: rgba(255, 255, 255, 0.63);
    --big-box-shadow: 5px 5px 5px rgba(121, 120, 200, 0.3);
    --small-box-shadow: 3px 3px 3px rgba(121, 120, 200, 0.2);
}

/* ALL */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* NAV */

nav{
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(133, 133, 216, .5);
    color: whitesmoke;
    min-height: 60px;
}

nav ul{
    list-style: none;
    display: flex;
    align-items: center;
}

nav li, nav div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    text-decoration: none;
    color: whitesmoke;
    font-size: 25px;
    height: 60px;
}

nav li:hover, nav div:hover{
    background-color: rgba(117, 92, 174, .5);
}

nav li.active, nav div.active {
    background-color: rgba(89, 67, 141, .5);
}

nav a{
    text-decoration: none;
}

/* HOME */

.home_div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../../public/pictures/background.jpg');
    background-size: cover;
    color:  rgb(89, 67, 141);
    font-size: 60px;
}

/* SHOP */

.shop_div{
    background-image: url('../../public/pictures/background.jpg');
    background-attachment: fixed;
    padding: 20px;
    padding-top: 7rem;
}

.title_div img{
    height: 200px;
    margin-top: 10px;
}

img{
    height: 100px;
    margin-bottom: 10px 0;
}

.buttons_div{
    display: flex;
    width: 45%;
    justify-content: space-around;
    align-items: center;
    max-height: 4rem;
}

.buttons_div button{
    height: 2.8rem;
    width: 2.8rem;
    font-size: 18px;
}

.item_div{
    display: flex;
    justify-content: space-between;
    margin: 10px 10%;
    border-radius: 15px;
    background-color: var(--item-background-color);
    box-shadow: var(--big-box-shadow);
}

.price_add{
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.wrap_price_divs{
    display: flex;
    width: 70%;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.title_div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    padding: 20px;
}


/* CART */

.cart_div{
    background-image: url('../../public/pictures/background.jpg');
    background-attachment: fixed;
    padding: 20px;
    padding-top: 5.3rem;
    min-height: 100vh;
}

.cart_div h1{
    text-align: center;
    margin-top: 20px;
}

.checkout_div{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 5.9rem;
    left: 68%;
    background-color: var(--item-background-color);
    border: none;
    border-radius: 15px;
    width: 20%;
    height: 150px;
    box-shadow: var(--small-box-shadow);
}

.checkout_div button{
    margin: 20px 0;
    width: 40%;
    height: 40px;
    font-size: large;
}

.item_cart_div{
    display: flex;
    justify-content: space-between;
    margin: 10px 10%;
    border-radius: 15px;
    background-color: var(--item-background-color);
    width: 55%;
    box-shadow: var(--small-box-shadow);
}

.item_cart_div .buttons_div{
    justify-content: space-between;
}

.item_cart_div button{
    height: 1.5rem;
    width: 1.5rem;
}

.item_cart_div input{
    height: 1.5rem;
    width: 2.5rem;
}